---
layout: default
---

<div class="container mt-2">
    <ul class="breadcrumb h6">
        <li class="breadcrumb-item"><a class="text-dark" href="{{ '/' | absolute_url }}">{{ site.data.theme.title }}</a></li>
        <li class="breadcrumb-item text-secondary"><a class="text-dark" href="{{ '/honorsthesis/' | absolute_url }}">honorthesis</a></li>
        <li id="bc-title" class="breadcrumb-item active"></li>
    </ul>
    </div>

<div><p>I worked on this senior thesis project through the University Honors Program. My major and department did not require a general senior thesis (a capstone class instead) but I wanted to do this honors thesis project because I was already involved in an animal bone analysis project, but I knew I could do a lot more with it and the honors program helped me achieve that. It really was a cool experience because there was just a small group of us doing the honors thesis and we met weekly to discuss our current research, problems we were facing, and how to overcome them. It was an opportunity to learn from each other but to also to get experience doing this before going into a graduate program.</p></div>