---
layout: default
---

<div class="container mt-2">
    <ul class="breadcrumb h6">
        <li class="breadcrumb-item"><a class="text-dark" href="{{ '/' | absolute_url }}">{{ site.data.theme.title }}</a></li>
        <li class="breadcrumb-item text-secondary"><a class="text-dark" href="{{ '/posters/' | absolute_url }}">Posters</a></li>
        <li id="bc-title" class="breadcrumb-item active"></li>
    </ul>
    </div>
  <div class="row"></div>
    <div class="col"></div>
    <div class="card m-5" style="width:600px">
        <div class="card-header">2017 Fort Boise Bones Project</div>
            <img class="card-image-top img-fluid" src="{{ '/objects/2017PosterPresentation.jpg' | absolute_url }}">    
        <div class="card-body"></div>
        <div class="text-center" margin="auto">
          <button type="button" class="btn btn-dark" margin="auto"><a href="/chelsea-portfolio/objects/2017PosterPresentation.jpg" class="card-link">View Image</a></button>
    </div> 
</div>
<div class="row">
    <div class="col">
      <p>This is my first project I ever did with faunal analysis.</p>
  </div>